.logincenter {
    width: 60%;
    margin: 10vh auto;
    padding: 20px;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
}

.buttonsignup {
    width: 100%;
    background-color: #b71c1c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
}

h3{
    color: white;
}

.democardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}