@import url("https://fonts.googleapis.com/css?family=Faster+One|Monoton");

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #212121;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
  z-index: 5;
}


.filler {
  flex-grow: 1;
}
.title {
  color: #fff;
  font-family: 'Faster One', cursive;
  font-size: 30px;
  letter-spacing: 4px;
  text-shadow: 2px 2px 10px #1D2671, 4px 4px 15px #C33764;
  }

.selected {
  text-decoration: none;
}